.grid-container {
  display: grid;
    grid-template-rows: 401px 420px;
    grid-template-columns: 638px 632px;
    grid-gap: 5px;
    margin: -15px 29px 26px 29px;
}
  
  .grid-item1 {
      
    text-align: center;
    border: black 2px solid;
    grid-template-rows: 100px;
    margin: 0px -637px 1px 0px;
    grid-row-end: 3;
  }
  .grid-item2 {
    padding: 5px 20px 10px 13px;
    text-align: center;
    border: black 2px solid;    
    margin-top: 20PX;
  }


    /* Estilo opcional para el botón */
    #openPopupBtn {
      padding: 10px 20px;
      background-color: #007BFF;
      color: white;
      border: none;
      margin-top: 13%;
      cursor: pointer;
  }


  .grid-item3 {
    padding: 5px 20px 10px 13px;
    text-align: center;
    border: 2px solid black; /* Bordes definidos */
    margin-top: 20px;
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    border-bottom: 1px solid; /* Borde inferior */
    border-radius: 5px; /* Bordes redondeados (opcional) */
}
  
.header-text {
    font-family: Arial, sans-serif; /* Fuente */
    margin: 5px 0; /* Margen */
}

.year-month {
    font-size: 16px; /* Tamaño de fuente para año/mes */
    font-weight: bold; /* Negrita */
}

.sales {
    font-size: 18px; /* Tamaño de fuente para ventas */
    font-weight: bold; /* Negrita */
}






    
  